name: reusable flake check (agnostic)
on:
  workflow_call:
    inputs:
      check:
        required: true
        type: string

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-24.04
        
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v16
        with:
          name: wawwior
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix build .\#checks.x86_64-linux.${{ inputs.check }}
